In [137]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, normalize,StandardScaler
import numpy as np
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [4]:
pas_id = train.PassengerId
t_pas_id = test.PassengerId

In [5]:
train.PassengerId=[i[:4]for i in train['PassengerId']]

In [6]:
test.PassengerId=[i[:4]for i in test['PassengerId']]

In [7]:
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [8]:
train['HomePlanet'] = train['HomePlanet'].fillna('NoPlanet')
enc = preprocessing.OneHotEncoder(sparse=False)
tmp = enc.fit_transform(np.array(train['HomePlanet']).reshape(-1,1))

In [9]:
train = pd.concat([train.drop(columns=['HomePlanet']),pd.DataFrame(tmp,columns=train['HomePlanet'].unique())],axis=1)

In [10]:
train['Destination'] = train['Destination'].fillna('NoDest')
enc = preprocessing.OneHotEncoder(sparse=False)
tmp = enc.fit_transform(np.array(train['Destination']).reshape(-1,1))

In [11]:
train = pd.concat([train.drop(columns=['Destination']),pd.DataFrame(tmp,columns=train['Destination'].unique())],axis=1)

In [12]:
test['HomePlanet'] = test['HomePlanet'].fillna('NoPlanet')
enc = preprocessing.OneHotEncoder(sparse=False)
tmp = enc.fit_transform(np.array(test['HomePlanet']).reshape(-1,1))

test = pd.concat([test.drop(columns=['HomePlanet']),pd.DataFrame(tmp,columns=test['HomePlanet'].unique())],axis=1)

test['Destination'] = test['Destination'].fillna('NoDest')
enc = preprocessing.OneHotEncoder(sparse=False)
tmp = enc.fit_transform(np.array(test['Destination']).reshape(-1,1))

test = pd.concat([test.drop(columns=['Destination']),pd.DataFrame(tmp,columns=test['Destination'].unique())],axis=1)

In [13]:
train['CryoSleep'] = train['CryoSleep'].fillna(train['CryoSleep'].mode().values[0])

In [14]:
test['CryoSleep'] = test['CryoSleep'].fillna(test['CryoSleep'].mode().values[0])

In [15]:
train['CryoSleep'].value_counts(dropna=False)

False    5656
True     3037
Name: CryoSleep, dtype: int64

In [16]:
le = LabelEncoder()
train['CryoSleep']=le.fit_transform(train['CryoSleep'])
test['CryoSleep']=le.fit_transform(test['CryoSleep'])

In [17]:
train['Cabin'] = train['Cabin'].fillna('nan/nan/nan')

In [18]:
tmp = [str(i).split('/') for i in train['Cabin']]
train = pd.concat([train.drop(columns=['Cabin']),pd.DataFrame(tmp,columns=['Deck','Num','Side'])],axis=1)

In [19]:
tmp = [str(i).split('/') for i in test['Cabin']]
test = pd.concat([test.drop(columns=['Cabin']),pd.DataFrame(tmp,columns=['Deck','Num','Side'])],axis=1)

In [20]:
for i in ['Deck','Num','Side']:
    le = LabelEncoder()
    train[i]=le.fit_transform(train[i])
    test[i]=le.fit_transform(test[i])

In [21]:
train['VIP'].value_counts(dropna=False)

False    8291
NaN       203
True      199
Name: VIP, dtype: int64

In [22]:
le = LabelEncoder()
train['VIP']=le.fit_transform(train['VIP'])
test['VIP']=le.fit_transform(test['VIP'])

In [23]:
train

,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,...,Earth,Mars,NoPlanet,TRAPPIST-1e,PSO J318.5-22,55 Cancri e,NoDest,Deck,Num,Side
0,0001,0,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0,0
1,0002,0,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5,0,1
2,0003,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0,1
3,0003,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0,1
4,0004,0,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,1795,0
8689,9278,1,18.0,0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6,548,1
8690,9279,0,26.0,0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,6,551,1
8691,9280,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,4,1385,1
8692,9280,0,44.0,0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,4,1385,1

In [24]:
train.isna().sum()

PassengerId        0
CryoSleep          0
Age              179
VIP                0
RoomService      181
FoodCourt        183
ShoppingMall     208
Spa              183
VRDeck           188
Name             200
Transported        0
Europa             0
Earth              0
Mars               0
NoPlanet           0
TRAPPIST-1e        0
PSO J318.5-22      0
55 Cancri e        0
NoDest             0
Deck               0
Num                0
Side               0
dtype: int64

In [25]:
for i in ['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']:
    le = LabelEncoder()
    train[i]=le.fit_transform(train[i])
    test[i]=le.fit_transform(test[i])

In [26]:
train.isna().sum()

PassengerId        0
CryoSleep          0
Age              179
VIP                0
RoomService        0
FoodCourt          0
ShoppingMall       0
Spa                0
VRDeck             0
Name             200
Transported        0
Europa             0
Earth              0
Mars               0
NoPlanet           0
TRAPPIST-1e        0
PSO J318.5-22      0
55 Cancri e        0
NoDest             0
Deck               0
Num                0
Side               0
dtype: int64

In [27]:
test['Age']=test['Age'].fillna(test['Age'].mode().values[0])
train['Age']=train['Age'].fillna(train['Age'].mode().values[0])

In [28]:
train.isna().sum()

PassengerId        0
CryoSleep          0
Age                0
VIP                0
RoomService        0
FoodCourt          0
ShoppingMall       0
Spa                0
VRDeck             0
Name             200
Transported        0
Europa             0
Earth              0
Mars               0
NoPlanet           0
TRAPPIST-1e        0
PSO J318.5-22      0
55 Cancri e        0
NoDest             0
Deck               0
Num                0
Side               0
dtype: int64

In [29]:
train

,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,...,Earth,Mars,NoPlanet,TRAPPIST-1e,PSO J318.5-22,55 Cancri e,NoDest,Deck,Num,Side
0,0001,0,39.0,0,0,0,0,0,0,Maham Ofracculy,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0,0
1,0002,0,24.0,0,109,9,25,456,44,Juanna Vines,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5,0,1
2,0003,0,58.0,1,43,1206,0,1273,49,Altark Susent,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0,1
3,0003,0,33.0,0,0,806,332,1132,187,Solam Susent,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0,1
4,0004,0,16.0,0,277,69,149,470,2,Willy Santantines,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276,0,41.0,1,0,1389,0,932,74,Gravior Noxnuther,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,1795,0
8689,9278,1,18.0,0,0,0,0,0,0,Kurta Mondalley,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6,548,1
8690,9279,0,26.0,0,0,0,972,1,0,Fayey Connon,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,6,551,1
8691,9280,0,32.0,0,0,739,0,321,1113,Celeon Hontichre,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,4,1385,1
8692,9280,0,44.0,0,124,1312,0,0,12,Propsh Hontichre,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,4,1385,1

In [30]:
train['Name'] = train['Name'].fillna('_ NoName')
train['Name'] = [i.split(' ')[1] for i in train['Name']]

In [31]:
test['Name'] = test['Name'].fillna('_ NoName')
test['Name'] = [i.split(' ')[1] for i in test['Name']]

In [32]:
le = LabelEncoder()
train['Name']=le.fit_transform(train['Name'])
test['Name']=le.fit_transform(test['Name'])

In [33]:
train.keys()

Index(['PassengerId', 'CryoSleep', 'Age', 'VIP', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported', 'Europa',
       'Earth', 'Mars', 'NoPlanet', 'TRAPPIST-1e', 'PSO J318.5-22',
       '55 Cancri e', 'NoDest', 'Deck', 'Num', 'Side'],
      dtype='object')

In [34]:
tmp = train['Transported'].astype(int)
train = train.drop(columns=['Transported'])
train.insert(0, 'Transported',tmp,True)

In [35]:
train

,Transported,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,...,Earth,Mars,NoPlanet,TRAPPIST-1e,PSO J318.5-22,55 Cancri e,NoDest,Deck,Num,Side
0,0,0001,0,39.0,0,0,0,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0,0
1,1,0002,0,24.0,0,109,9,25,456,44,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5,0,1
2,0,0003,0,58.0,1,43,1206,0,1273,49,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0,1
3,0,0003,0,33.0,0,0,806,332,1132,187,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0,1
4,1,0004,0,16.0,0,277,69,149,470,2,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0,9276,0,41.0,1,0,1389,0,932,74,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,1795,0
8689,0,9278,1,18.0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6,548,1
8690,1,9279,0,26.0,0,0,0,972,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,6,551,1
8691,0,9280,0,32.0,0,0,739,0,321,1113,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,4,1385,1
8692,1,9280,0,44.0,0,124,1312,0,0,12,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,4,1385,1

In [ ]:
scaler = StandardScaler()

train_sc = pd.DataFrame(scaler.fit_transform(train.drop(columns=['Transported'])),columns=train.keys()[1:])
test_sc = pd.DataFrame(scaler.fit_transform(test),columns=test.keys())

In [103]:
train_sc = train_sc.reindex(sorted(train_sc.keys()), axis=1)
test_sc = test_sc.reindex(sorted(test_sc.keys()), axis=1)

In [138]:
X_train, X_test, y_train, y_test = train_test_split(train_sc, train['Transported'], random_state=42, test_size=20)

In [139]:
clf = RandomForestClassifier()
clf.fit(X_train, y_train)
pred = clf.predict(X_test)

In [140]:
print(accuracy_score(pred,y_test))

0.65

In [128]:
clf = GradientBoostingRegressor()
clf.fit(train_sc, train['Transported'])
pred = clf.predict(test_sc)

In [136]:
ypred_Xnew = clf.predict(test_sc).astype(bool)

submission = pd.DataFrame({'PassengerId': t_pas_id, 'Transported': pred })
submission.to_csv("submissions/submissionGB.csv", index=False)